In [1]:
# we decided to use logistic regression model and this file shows evaluation of models

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
from pathlib import Path
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import GradientBoostingClassifier
from collections import Counter
from sklearn.datasets import make_blobs
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

In [4]:
# Load the data
file_path = "../results/diabetes_raw_data.csv"
df = pd.read_csv(file_path)
df.head(10)

,Unnamed: 0,Diabetes_Status,HighBP,HighChol,CholCheck,BMI_Range,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,...,AnyHealthcare,NoDocbcCost,GenHlth,Mental_Health_Range,Physical_Health_Range,DiffWalk,Sex,Age,Education,Income
0,0,1,1.0,1.0,1.0,4,1.0,0.0,0.0,0.0,...,1.0,0.0,5.0,4,3,1.0,0.0,9.0,4.0,3.0
1,1,1,0.0,0.0,0.0,3,1.0,0.0,0.0,1.0,...,0.0,1.0,3.0,1,1,0.0,0.0,7.0,6.0,1.0
2,2,1,1.0,1.0,1.0,3,0.0,0.0,0.0,0.0,...,1.0,1.0,5.0,6,6,1.0,0.0,9.0,4.0,8.0
3,3,1,1.0,0.0,1.0,3,0.0,0.0,0.0,1.0,...,1.0,0.0,2.0,1,1,0.0,0.0,11.0,3.0,6.0
4,4,1,1.0,1.0,1.0,2,0.0,0.0,0.0,1.0,...,1.0,0.0,2.0,1,1,0.0,0.0,11.0,5.0,4.0
5,5,1,1.0,1.0,1.0,3,1.0,0.0,0.0,1.0,...,1.0,0.0,2.0,1,1,0.0,1.0,10.0,6.0,8.0
6,6,1,1.0,0.0,1.0,4,1.0,0.0,0.0,0.0,...,1.0,0.0,3.0,1,3,0.0,0.0,9.0,6.0,7.0
7,7,1,1.0,1.0,1.0,3,1.0,0.0,0.0,1.0,...,1.0,0.0,3.0,1,1,1.0,0.0,11.0,4.0,4.0
8,8,2,1.0,1.0,1.0,4,1.0,0.0,1.0,0.0,...,1.0,0.0,5.0,6,6,1.0,0.0,9.0,5.0,1.0
9,9,1,0.0,0.0,1.0,2,0.0,0.0,0.0,0.0,...,1.0,0.0,2.0,1,1,0.0,1.0,8.0,4.0,3.0

In [5]:
# Linear Regression Model

y = df["Diabetes_Status"]
X = df.drop(columns="Diabetes_Status")

In [6]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1, 
                                                    stratify=y,
                                                    test_size=0.25)
X_train.shape

(190260, 22)

In [7]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs',
   max_iter=200,
   random_state=1)

In [8]:
classifier.fit(X_train, y_train)

LogisticRegression(max_iter=200, random_state=1)

In [9]:
y_pred = classifier.predict(X_test)
results = pd.DataFrame({"Prediction": y_pred, "Actual": y_test}).reset_index(drop=True)
results.head(5)

   Prediction  Actual
0           1       1
1           1       1
2           1       1
3           1       1
4           1       1

In [10]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

0.8424156417533901

In [11]:
from sklearn.metrics import confusion_matrix, classification_report
matrix = confusion_matrix(y_test, y_pred)
print(matrix)

[[53426     0]
 [ 9994     0]]

In [12]:
report = classification_report(y_test, y_pred)
print(report)

              precision    recall  f1-score   support

           1       0.84      1.00      0.91     53426
           2       0.00      0.00      0.00      9994

    accuracy                           0.84     63420
   macro avg       0.42      0.50      0.46     63420
weighted avg       0.71      0.84      0.77     63420

In [13]:
# Create logistic regression model 
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs',
                                max_iter=200,
                                random_state=1)

In [14]:
classifier.fit(X_train, y_train)

LogisticRegression(max_iter=200, random_state=1)

In [15]:
 ## Make predictions
y_pred = classifier.predict(X_test)
results = pd.DataFrame({"Prediction": y_pred, "Actual": y_test}).reset_index(drop=True)
results.head(5)

   Prediction  Actual
0           1       1
1           1       1
2           1       1
3           1       1
4           1       1

In [16]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

0.8424156417533901

In [17]:
X.describe()

,Unnamed: 0,HighBP,HighChol,CholCheck,BMI_Range,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,Mental_Health_Range,Physical_Health_Range,DiffWalk,Sex,Age,Education,Income
count,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,...,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000
mean,126839.500000,0.429001,0.424121,0.962670,3.049842,0.443169,0.040571,0.094186,0.756544,0.634256,...,0.951053,0.084177,2.511392,1.417979,1.591876,0.168224,0.440342,8.032119,5.050434,6.053875
std,73231.252481,0.494934,0.494210,0.189571,0.815440,0.496761,0.197294,0.292087,0.429169,0.481639,...,0.215759,0.277654,1.068477,1.208122,1.448273,0.374066,0.496429,3.054220,0.985774,2.071148
min,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000
25%,63419.750000,0.000000,0.000000,1.000000,2.000000,0.000000,0.000000,0.000000,1.000000,0.000000,...,1.000000,0.000000,2.000000,1.000000,1.000000,0.000000,0.000000,6.000000,4.000000,5.000000
50%,126839.500000,0.000000,0.000000,1.000000,3.000000,0.000000,0.000000,0.000000,1.000000,1.000000,...,1.000000,0.000000,2.000000,1.000000,1.000000,0.000000,0.000000,8.000000,5.000000,7.000000
75%,190259.250000,1.000000,1.000000,1.000000,4.000000,1.000000,0.000000,0.000000,1.000000,1.000000,...,1.000000,0.000000,3.000000,1.000000,1.000000,0.000000,1.000000,10.000000,6.000000,8.000000
max,253679.000000,1.000000,1.000000,1.000000,4.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,5.000000,6.000000,6.000000,1.000000,1.000000,13.000000,6.000000,8.000000

In [18]:
# Check the balance of our target values
y.value_counts()

1    213703
2     39977
Name: Diabetes_Status, dtype: int64

In [19]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)
X_train.shape

(190260, 22)

In [20]:
# Naive Random Oversampling -Resample the training data with the RandomOversampler
from imblearn.over_sampling import RandomOverSampler
ros = RandomOverSampler(random_state=1)
X_resampled, y_resampled = ros.fit_resample(X_train, y_train)
Counter(y_resampled)

Counter({1: 160277, 2: 160277})

In [21]:
# Train the Logistic Regression model using the resampled data
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_resampled, y_resampled)

LogisticRegression(random_state=1)

In [22]:
# Train the Logistic Regression model using the resampled data
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_resampled, y_resampled)

LogisticRegression(random_state=1)

In [23]:
# Calculated the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score
y_pred = model.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.635524593309499

In [24]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

array([[26306, 27120],
       [ 2212,  7782]], dtype=int64)

In [25]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          1       0.92      0.49      0.78      0.64      0.62      0.37     53426
          2       0.22      0.78      0.49      0.35      0.62      0.39      9994

avg / total       0.81      0.54      0.73      0.60      0.62      0.38     63420

In [26]:
# SMOTE Oversampling
# Resample the training data with SMOTE
from imblearn.over_sampling import SMOTE
X_resampled, y_resampled = SMOTE(random_state=1, sampling_strategy='auto').fit_resample(X_train, y_train)
Counter(y_resampled)

Counter({1: 160277, 2: 160277})

In [27]:
# Train the Logistic Regression model using the resampled data
model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_resampled, y_resampled)

LogisticRegression(random_state=1)

In [28]:
# Calculated the balanced accuracy score
y_pred = model.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.6398730864318763

In [29]:
# Display the confusion matrix
confusion_matrix(y_test, y_pred)

array([[26637, 26789],
       [ 2187,  7807]], dtype=int64)

In [30]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          1       0.92      0.50      0.78      0.65      0.62      0.38     53426
          2       0.23      0.78      0.50      0.35      0.62      0.40      9994

avg / total       0.81      0.54      0.74      0.60      0.62      0.38     63420